{% extends "base.html" %}

{% block title %} {{ case }}{% endblock %}

{% block main %}
<div>
	{% for case_id, case_id_enc, case_params in subcases %}
  <div>
    <h2>
	<button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#{{case_id_enc}}">Spec</button>
	<a href="/model/{{case}}/{{case_id_enc}}" class="link-dark">{{ case_id }}</a>
    </h2>
    <div id="{{case_id_enc}}" class="accordion-collapse collapse">
      <div class="accordion-body">
	      <code style="white-space: pre-wrap">{{case_params|e}}</code>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
