{% extends "base.html" %}

{% block title %} {{ case }}{% endblock %}

{% block main %}
<div>
	{% for scase in subcases %}
  <div>
    <h2>
	<button class="btn btn-outline-secondary btn-sm" type="button"
		data-bs-toggle="collapse" data-bs-target="#{{scase['id_enc']}}">Spec</button>
	<a href="/model/{{case}}/{{scase['id_enc']}}" class="link-dark">{{
		scase['id'] }}</a>
    </h2>
    <div id="{{scase['id_enc']}}" class="accordion-collapse collapse">
      <div class="accordion-body">
	      <code style="white-space: pre-wrap">{{scase['spec']|e}}</code>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
