{% extends "base.html" %}

{% block title %}{{case_id}}{% endblock %}}
{% block navlinks %}
{% for case_param in case_params %}
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{case_param['name']}}: {{case_param['active']}}</a>
	<ul class="dropdown-menu">
		{% for subcase in case_param['related'] %}
		<li><a class="dropdown-item {% if subcase['active'] %} active {% endif %}"
				href="{{subcase['url']}}">{{subcase['value']}}</a></li>
		{% endfor %}
	</ul>
</li>
{% endfor %}
{% endblock %}

{% block main %}
	<button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#spec">Spec</button>
	<div id="spec" class="accordion-collapse collapse">
		<code style="white-space: pre-wrap">{{spec|e}}</code>
	</div>
{% for fig_html in figures %}
{{ fig_html | safe}}
{% endfor %}
{% endblock %}
